/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/extracted.scss ***!
  \*************************************************************************************************************************************************************************************/
.extracted {
  visibility: visible;
  z-index: 2;
}
@media screen and (max-width: 1023.5px) {
  .extracted {
    padding-top: 8.6rem;
  }
}

.extracted__cols {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .extracted__cols {
    margin: 0 -3rem 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .extracted__col {
    width: 50%;
    padding: 0 3rem 0 0;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted__col {
    width: 100%;
  }
  .extracted__col:nth-child(1) {
    order: 2;
  }
  .extracted__col:nth-child(2) {
    margin-bottom: 3.8rem;
  }
}

.extracted_table {
  position: relative;
  max-width: 100%;
  background-color: #fafaf7;
  border-radius: 0.4rem;
}
@media screen and (min-width: 1024px) {
  .extracted_table {
    padding: 2.6rem 5.6rem 4.6rem;
    width: 54.2rem;
    border: 0.4rem solid #000;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table {
    width: 100%;
    padding: 2.8rem 2.4rem 2.6rem;
    border: 0.3rem solid #000;
  }
}
.extracted_table:after {
  content: "";
  position: absolute;
  background-color: #000;
  border-radius: 0.4rem;
  opacity: 0.9;
  filter: blur(0.4rem);
  z-index: -1;
  pointer-events: none;
  will-change: filter;
}
@media screen and (min-width: 1024px) {
  .extracted_table:after {
    left: 1rem;
    top: 2rem;
    width: calc(100% + 0.8rem);
    height: 100%;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table:after {
    left: 0.8rem;
    top: 0.4rem;
    width: calc(100% + 0.4rem);
    height: calc(100% + 0.6rem);
  }
}

.extracted_table__title {
  margin-bottom: 0.8rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .extracted_table__title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__title {
    font-size: 3.34rem;
  }
}

.extracted_table__tabs {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .extracted_table__tabs {
    margin-bottom: 1.2rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__tabs {
    margin-bottom: 1rem;
  }
}

.extracted_table__tabs_item {
  width: 50%;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .extracted_table__tabs_item {
    padding-bottom: 0.6rem;
    font-size: 0.63rem;
    color: #565656;
    border-bottom: 2px solid rgba(187, 187, 187, 0.4);
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__tabs_item {
    padding-bottom: 1.2rem;
    font-size: 1.17rem;
    color: #808080;
    border-bottom: 3px solid rgba(187, 187, 187, 0.4);
  }
}
.extracted_table__tabs_item.extracted_table__tabs_item--active_mod {
  color: #000;
  border-color: #000;
}

.extracted_table__head {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .extracted_table__head {
    margin-bottom: 1.6rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__head {
    margin-bottom: 1rem;
  }
}

.extracted_table__search {
  position: relative;
  width: 11.2rem;
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__search {
    display: none;
  }
}

.extracted_table__search_icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 1.1rem;
  height: 1.1rem;
  margin-top: -0.55rem;
}

.extracted_table__head_buttons {
  margin-left: auto;
  display: flex;
}

.extracted_table__head_buttons_item:not(:last-child) {
  margin-right: 0.2rem;
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__head_buttons_item:last-child {
    display: none;
  }
}

.extracted_table__head_button {
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .extracted_table__head_button {
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.4rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__head_button {
    width: 3.4rem;
    height: 3.4rem;
    padding: 0 0.6rem;
  }
}
.extracted_table__head_button.extracted_table__head_button--v2_mod {
  background-color: #dce161;
}

.extracted_table__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .extracted_table__list {
    margin: 0 -1rem -1rem 0;
  }
}

.extracted_table__item {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .extracted_table__item {
    width: 50%;
    padding: 0 1rem 1rem 0;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__item {
    width: 100%;
  }
  .extracted_table__item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .extracted_table__item:nth-child(n+3) {
    display: none;
  }
  .extracted_table__item:nth-child(4) {
    display: block;
  }
}

.extracted_table__item_in {
  position: relative;
  border-bottom: 2px solid #000;
}
@media screen and (min-width: 1024px) {
  .extracted_table__item_in {
    padding: 0 0.4rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__item_in {
    padding: 0 0 0.4rem;
  }
}

.extracted_table__unverified_wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: opacity 0.3s;
}
@media screen and (min-width: 1024px) {
  .extracted_table__unverified_wrap {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 0 0.4rem 2.4rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__unverified_wrap {
    width: 4.6rem;
    height: 4.6rem;
    margin: 0 0 3.4rem 8.4rem;
  }
}
.extracted_table__item--verified_mod .extracted_table__unverified_wrap {
  opacity: 0;
  pointer-events: none;
}
.extracted_table__preview .extracted_table__unverified_wrap {
  width: 6rem;
  height: 6rem;
  margin: 0 0 4.4rem 5.4rem;
  transition: filter 0.3s;
  cursor: pointer;
}

.extracted_table__unverified {
  display: block;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
}

.extracted_table__item_unverified_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extracted_table__item_head {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .extracted_table__item_head {
    margin-bottom: 0.2rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__item_head {
    margin-bottom: 0.4rem;
  }
}
.extracted_table__preview .extracted_table__item_head {
  margin-bottom: 0.4rem;
}

.extracted_table__item_logo {
  margin-right: 0.6rem;
  flex-shrink: 0;
}
@media screen and (min-width: 1024px) {
  .extracted_table__item_logo {
    height: 1.4rem;
    max-width: 2.2rem;
    margin-top: -0.3rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__item_logo {
    height: 2.2rem;
    max-width: 4rem;
    margin-top: -1rem;
  }
}
.extracted_table__preview .extracted_table__item_logo {
  margin-right: 0.4rem;
  max-width: 5rem;
  height: 2rem;
}

.extracted_table__item_logo_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extracted_table__item_title {
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .extracted_table__item_title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__item_title {
    font-size: 1.84rem;
  }
}
.extracted_table__preview .extracted_table__item_title {
  font-size: 3.2rem;
  line-height: 1;
}
.extracted_table__item_title:not(:last-child) {
  margin-right: 0.7rem;
}

.extracted_table__item_verified {
  opacity: 0;
  transform: translateY(1rem);
  will-change: transform, opacity;
}
@media screen and (min-width: 1024px) {
  .extracted_table__item_verified {
    width: 1rem;
    height: 1rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__item_verified {
    width: 2rem;
    height: 2rem;
  }
}
.extracted_table__preview .extracted_table__item_verified {
  width: 2rem;
  height: 2rem;
}
.extracted_table__item--verified_mod .extracted_table__item_verified {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.extracted_table__item_verified_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extracted_table__subtitle {
  margin-bottom: 0.2rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .extracted_table__subtitle {
    font-size: 0.62rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__subtitle {
    font-size: 1.17rem;
  }
}
.extracted_table__preview .extracted_table__subtitle {
  font-size: 1.4rem;
}

.extracted_table__category {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .extracted_table__category {
    margin-bottom: 0.7rem;
    font-size: 0.62rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__category {
    margin-bottom: 4.2rem;
    font-size: 1.17rem;
  }
}
.extracted_table__preview .extracted_table__category {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
}

.extracted_table__footer {
  display: flex;
  align-items: center;
  padding-bottom: 0.3rem;
}
.extracted_table__preview .extracted_table__footer {
  border-bottom: 0.2rem solid #000;
  margin: 0 -1rem;
  padding: 0 1rem 0.8rem;
}

.extracted_table__date {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
@media screen and (min-width: 1024px) {
  .extracted_table__date {
    font-size: 0.71rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__date {
    margin-right: 1.4rem;
    font-size: 1.33rem;
  }
}
.extracted_table__preview .extracted_table__date {
  font-size: 1.6rem;
}

.extracted_table__users {
  display: flex;
  margin-top: -0.8rem;
}
@media screen and (min-width: 1024px) {
  .extracted_table__users {
    margin-left: auto;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__users {
    margin: 0 1rem 0 0;
  }
  .extracted_table__preview .extracted_table__users {
    margin: 0 0 0 auto;
  }
}

.extracted_table__users_item {
  position: relative;
  z-index: 2;
  font-size: 0.534rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #fff;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .extracted_table__users_item {
    width: 1.1rem;
    height: 1.1rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__users_item {
    width: 2rem;
    height: 2rem;
  }
}
.extracted_table__preview .extracted_table__users_item {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 1024px) {
  .extracted_table__users_item:not(:last-child) {
    margin-right: -0.45rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__users_item:not(:last-child) {
    margin-right: -0.8rem;
  }
}
.extracted_table__preview .extracted_table__users_item:not(:last-child) {
  margin-right: -0.8rem;
}

.extracted_table__users_pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  will-change: opacity;
}
.extracted_table__item--verified_mod .extracted_table__users_pic {
  opacity: 1;
}

.extracted_table__users_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.extracted_table__users_text {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #555;
}
.extracted_table__preview .extracted_table__users_item:nth-child(n+4):last-child .extracted_table__users_text {
  padding-bottom: 0.3rem;
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__users_text {
    font-size: 1rem;
  }
  .extracted_table__users_item:nth-child(n+4):last-child .extracted_table__users_text {
    padding-bottom: 0.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .extracted_table__footer_icons {
    display: none;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__footer_icons {
    display: flex;
    margin-left: auto;
    margin-right: -0.3rem;
  }
}

.extracted_table__footer_icons_item {
  width: 2.2rem;
  height: 2.2rem;
}
.extracted_table__footer_icons_item:not(:last-child) {
  margin-right: 0.6rem;
}

.extracted_table__btn {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .extracted_table__btn {
    display: none;
  }
}

.extracted_table__preview {
  position: absolute;
  top: 1.8rem;
  z-index: 3;
  border: 0.4rem solid #000;
  border-radius: 0.4rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-3rem) scale(0.4);
  transform-origin: 50% 0%;
  will-change: transform, opacity;
}
@media screen and (min-width: 1024px) {
  .extracted_table__preview {
    left: -54%;
    width: 245%;
    padding: 2.6rem 3.8rem 2.6rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted_table__preview {
    left: -5rem;
    width: calc(100% + 10rem);
    padding: 2.6rem 2rem;
  }
}
.extracted_table__preview:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafaf7;
  pointer-events: none;
  will-change: filter;
  z-index: -1;
}
.extracted_table__preview:after {
  content: "";
  position: absolute;
  left: 1rem;
  top: 2rem;
  width: calc(100% + 0.8rem);
  height: 100%;
  background-color: #000;
  border-radius: 0.4rem;
  opacity: 0.9;
  filter: blur(0.4rem);
  z-index: -2;
}
.extracted_table__item--active_mod .extracted_table__preview {
  opacity: 1;
  pointer-events: initial;
  transform: translateY(0) scale(1);
}

.extracted_table__cursor {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 2.6rem;
  height: 2.6rem;
  z-index: 3;
  will-change: transform, opacity;
}

.extracted_table__cursor_pic {
  display: block;
  width: 100%;
  height: 100%;
}

.extracted_table__cursor_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extracted__title_block {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .extracted__title_block {
    max-width: 45.6rem;
    margin-left: auto;
  }
}
.extracted__title_block:before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  .extracted__title_block:before {
    top: -2.8rem;
    left: -2.2rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted__title_block:before {
    top: -3.4rem;
    left: -1rem;
  }
}

.extracted__title_wrap {
  position: relative;
  border-top: 0.4rem solid #000;
  border-bottom: 0.4rem solid #000;
  overflow: hidden;
}

.extracted__title {
  padding: 1.2rem 0;
  min-height: 100%;
  will-change: opacity;
}
.extracted__title * {
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .extracted__title {
    min-height: 14.6rem;
  }
}
@media screen and (max-width: 767px) {
  .extracted__title {
    min-height: 19.2rem;
  }
}
.extracted__title:not(:first-child) {
  position: absolute;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.extracted__title_in {
  line-height: 0.97;
}
@media screen and (min-width: 1024px) {
  .extracted__title_in {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1023.5px) {
  .extracted__title_in {
    font-size: 4rem;
  }
}
.extracted__title_in strong,
.extracted__title_in span {
  font-weight: 400;
  color: #dce161;
}

/*# sourceMappingURL=src_js_components_extracted_js.css.map*/